<div class="container">
  <div class="row mt-5" *ngIf="caso">
    <div class="col-md-4 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
              Detalle
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Id: </b>{{caso.id}}</li>
              <li class="list-group-item"><b>Codigo: </b>{{caso.codigo}}</li>
              <li class="list-group-item"><b>Cliente: </b>{{caso.cliente.nombre}}</li>
              <li class="list-group-item"><b>Cliente: </b>{{caso.tipoCaso.nombre}}</li>
              <li class="list-group-item"><b>Recomendado: </b>{{caso.recomendado}}</li>
              <li class="list-group-item"><b>Fecha de creacion: </b>{{caso.creacion | date:"dd-MM-yyyy"}}</li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
          </div>

    </div>
</div>
</div>
