<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Cliente:</label>
          <input type="text" class="form-control" id="cliente" name="cliente" [(ngModel)]="nombreCliente" placeholder="Cliente" required  disabled="true">
        </div>

        <div class="form-group" >
          <label class="checkbox-inline">
            <input type="checkbox" name="isActualizar" [(ngModel)]="nuevoTipoCaso"> Crear un nuevo Tipo de Caso
          </label>
        </div>

        <div class="form-group" *ngIf="!nuevoTipoCaso">
          <label for="nombre">Tipo de Caso:</label>
          <select class="form-select" aria-label="Default select example" name="tipoCaso"
          id="tipoCaso" [(ngModel)]="IdtipoCaso" required >

            <option *ngFor="let valorTipoC of tipoCasos" [value]="valorTipoC.id" >{{valorTipoC.nombre}}</option>

          </select>
        </div>

        <div class="form-group" *ngIf="nuevoTipoCaso">
          <label for="nombre">Nombre de Tipo de Caso:</label>
          <input type="text" class="form-control" id="nombreTipoCaso" name="nombreTipoCaso"
           [(ngModel)]="nombreTipoCaso" placeholder="Nombre de Tipo de Caso" required>
        </div>


        <div class="form-group">
          <label for="nombre">Codigo:</label>
          <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="codigo" placeholder="codigo" required>
        </div>

        <div class="form-group">
          <label for="nombre">Recomendado:</label>
          <input type="text" class="form-control" id="recomendado" name="recomendado" [(ngModel)]="recomendado" placeholder="Recomendado">
        </div>

        <div class="form-group" >
          <label class="checkbox-inline">
            <input type="checkbox" name="isActualizar" [(ngModel)]="actualizarFecha"> Actualizar Fecha de Creacion
          </label>
        </div>


        <div class="form-group" *ngIf="!actualizarFecha">
          <label for="nombre">Fecha de Creacion:</label>
          <input type="date" class="form-control" id="creacion" name="creacion"
          [(valueAsDate)]="creacionActual" placeholder="creacion" required disabled="true">
        </div>

        <div class="form-group" *ngIf="actualizarFecha">
          <label for="nombre">Fecha de Creacion:</label>
          <input type="date" class="form-control" id="nuevacreacionActual"
          name="nuevacreacionActual" [(ngModel)]="nuevacreacionActual"
          placeholder="nuevacreacionActual" required>
        </div>

        <div class="form-group">
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
        </div>

      </form>
    </div>
  </div>
</div>
