<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre de Tipo de caso:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Nombre de Tipo de Caso" required>
        </div>

        <div class="form-group">
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
        </div>

      </form>
    </div>
  </div>
</div>
